.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header {
    text-align: center;
    background-color: #aa261b;
    color: #fff;
    padding: 20px 0 20px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
} 

.Header_Submit_Btn {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
}

.Header_Submit_Btn:hover {
  opacity: 0.8;
}

.Header_Answered_Questions {
  margin-right: 20px;
}

.Header_Btn_Group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Questions {
  margin-top: 180px;
}

.Result {
  margin-top: 180px;
  text-align: center;
}

.Header_copyright {
  margin-top: 10px;
}

.Question {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 10px;
  border: solid #aaa;
  border-radius: 10px;
}

.Return_Btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #aa261b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
}

.Return_Btn:hover {
  opacity: 0.8;
}

.Question_Content {
  margin-left: 20px;
}

.Question_Answer {
  display: flex;
  flex-direction: column;
}

.Question_Answer_Content {
  margin-left: 20px;
}

.Question_Answer_Content_Input {
  margin-right: 10px;
}